-- NOTE: ID menggunakan UUID V7 yg memiliki panjang sekitar 36 karakter dan dikirim dari Web

-- =========================================================
-- 1. ROLES, USERS, PROFILES, ADDRESSES
-- =========================================================

CREATE TABLE roles (
    id CHAR(36) PRIMARY KEY,
    name VARCHAR(50) NOT NULL UNIQUE,
    description VARCHAR(255),
    level TINYINT UNSIGNED NOT NULL,

    CONSTRAINT check_roles_level
        CHECK (level BETWEEN 1 AND 10),

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE users (
    id CHAR(36) PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    email VARCHAR(255) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    phone VARCHAR(13) UNIQUE,   -- Format: +62-8xx-xxxx-xxxx
    role_id CHAR(36) NOT NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_users_role
        FOREIGN KEY (role_id)
        REFERENCES roles(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

CREATE TABLE profiles (
    id CHAR(36) PRIMARY KEY,
    user_id CHAR(36) NOT NULL UNIQUE,

    full_name VARCHAR(60) NOT NULL,
    avatar VARCHAR(500),
    gender ENUM('MALE', 'FEMALE'),
    birth_date DATE,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_profiles_user
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE addresses (
    id CHAR(36) PRIMARY KEY,
    user_id CHAR(36) NOT NULL,
    recipient_name VARCHAR(50) NOT NULL,   -- Org yg menerima paket
    phone VARCHAR(13) NOT NULL,      -- Format: +62-8xx-xxxx-xxxx
    address TEXT NOT NULL,
    city VARCHAR(100) NOT NULL,
    province VARCHAR(100) NOT NULL,
    postal_code VARCHAR(10) NOT NULL,   -- Kode Pos
    is_default BOOLEAN NOT NULL DEFAULT FALSE,

    CONSTRAINT fk_addresses_user
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

-- ===========================================================================
-- 2. SELLERS, BUSINESS_TYPES, SELLER_BUSINESSES, SELLER_DOCUMENTS, STORES
-- ===========================================================================

CREATE TABLE sellers (
    id CHAR(36) PRIMARY KEY,
    user_id CHAR(36) NOT NULL UNIQUE,

    seller_type ENUM(
        'INDIVIDUAL',
        'BUSINESS'
    ) NOT NULL DEFAULT 'INDIVIDUAL',

    verification_status ENUM(
        'PENDING',
        'VERIFIED',
        'REJECTED',
        'SUSPENDED'
    ) NOT NULL DEFAULT 'PENDING',

    verified_at TIMESTAMP NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_sellers_user
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE business_types (
    id CHAR(36) PRIMARY KEY,

    name VARCHAR(100) NOT NULL UNIQUE,   -- Individual, PT, Koperasi, dll
    code VARCHAR(50) NOT NULL UNIQUE,
    description VARCHAR(255),

    is_active BOOLEAN NOT NULL DEFAULT TRUE,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP
);

CREATE TABLE seller_businesses (
    id CHAR(36) PRIMARY KEY,
    seller_id CHAR(36) NOT NULL UNIQUE,   -- 1 Seller hanya memiliki 1 Bisnis

    business_name VARCHAR(150) NOT NULL,  -- Standar Nama Bisnis itu 3 Kata
    business_type_id CHAR(36) NOT NULL,

    tax_number CHAR(16),   -- NPWP (Nomor Pokok Wajib Pajak)
    business_registration_number CHAR(13),   -- NIB (Nomor Induk Berusaha)

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_seller_businesses_seller
        FOREIGN KEY (seller_id)
        REFERENCES sellers(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,

    CONSTRAINT fk_seller_businesses_type
        FOREIGN KEY (business_type_id)
        REFERENCES business_types(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

CREATE TABLE seller_documents (
    id CHAR(36) PRIMARY KEY,
    seller_id CHAR(36) NOT NULL,   -- 1 Seller dpt memiliki byk Document untuk Syarat Bisnis Online

    document_type ENUM(
        'IDENTITY',
        'TAX',
        'BUSINESS_REGISTRATION',
        'OTHER'
    ) NOT NULL,

    document_number VARCHAR(100),
    document_url VARCHAR(500),

    verification_status ENUM(
        'PENDING',
        'VERIFIED',
        'REJECTED'
    ) NOT NULL DEFAULT 'PENDING',

    verified_at TIMESTAMP NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_seller_documents_seller
        FOREIGN KEY (seller_id)
        REFERENCES sellers(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE stores (
    id CHAR(36) PRIMARY KEY,
    seller_id CHAR(36) NOT NULL,   -- 1 Seller dpt memiliki byk Toko

    name VARCHAR(150) NOT NULL,
    store_code CHAR(3) NOT NULL UNIQUE,
    slug VARCHAR(180) NOT NULL UNIQUE,
    description TEXT,
    logo VARCHAR(500),

    phone VARCHAR(13),   -- Format: +62-8xx-xxxx-xxxx

    address TEXT,
    city VARCHAR(100),
    province VARCHAR(100),
    postal_code VARCHAR(10),   -- Kode Pos

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_stores_seller
        FOREIGN KEY (seller_id)
        REFERENCES sellers(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

-- ============================================================
-- 3. CATEGORIES, PRODUCTS, PRODUCT_IMAGES, PRODUCT_CATEGORIES
-- ============================================================

CREATE TABLE categories (
    id CHAR(36) PRIMARY KEY,

    name VARCHAR(100) NOT NULL UNIQUE,
    slug VARCHAR(120) NOT NULL UNIQUE,
    description TEXT,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP
);

CREATE TABLE products (
    id CHAR(36) PRIMARY KEY,
    store_id CHAR(36) NOT NULL,   -- 1 Store dpt memiliki byk Product

    name VARCHAR(150) NOT NULL,
    slug VARCHAR(180) NOT NULL UNIQUE,
    description TEXT,

    price DECIMAL(15,2) NOT NULL,
    stock INT UNSIGNED NOT NULL DEFAULT 0,

    status ENUM(
        'DRAFT',
        'ACTIVE',
        'INACTIVE',
        'ARCHIVED'
    ) NOT NULL DEFAULT 'DRAFT',

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT check_price_product
        CHECK (price >= 1),

    CONSTRAINT fk_products_store
        FOREIGN KEY (store_id)
        REFERENCES stores(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE product_images (
    id CHAR(36) PRIMARY KEY,
    product_id CHAR(36) NOT NULL,   -- 1 Produk dpt memiliki byk Foto

    image_url VARCHAR(500) NOT NULL,
    is_primary BOOLEAN NOT NULL DEFAULT FALSE,   -- Gambar Utama
    sort_order SMALLINT UNSIGNED NOT NULL DEFAULT 0,   -- Urutan Gambar

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT fk_product_images_product
        FOREIGN KEY (product_id)
        REFERENCES products(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE product_categories (
    product_id CHAR(36) NOT NULL,
    category_id CHAR(36) NOT NULL,

    PRIMARY KEY (product_id, category_id),   -- JUNCTION TABLE (N:M)

    CONSTRAINT fk_product_categories_product
        FOREIGN KEY (product_id)
        REFERENCES products(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,

    CONSTRAINT fk_product_categories_category
        FOREIGN KEY (category_id)
        REFERENCES categories(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

-- =========================================================
-- 4. CARTS, CART_ITEMS
-- =========================================================

CREATE TABLE carts (
    id CHAR(36) PRIMARY KEY,
    user_id CHAR(36) NOT NULL UNIQUE,   -- 1 User hanya boleh 1 Cart

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_carts_user
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

CREATE TABLE cart_items (
    id CHAR(36) PRIMARY KEY,
    cart_id CHAR(36) NOT NULL,
    product_id CHAR(36) NOT NULL,

    quantity INT UNSIGNED NOT NULL DEFAULT 1,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT check_cart_items_quantity
        CHECK (quantity >= 1),

    CONSTRAINT fk_cart_items_cart
        FOREIGN KEY (cart_id)
        REFERENCES carts(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,

    CONSTRAINT fk_cart_items_product
        FOREIGN KEY (product_id)
        REFERENCES products(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT unique_cart_product
        UNIQUE (cart_id, product_id)   -- 1 Cart dpt memiliki byk Cart_Item
);

-- =========================================================
-- 5. ORDERS, SELLER_ORDERS, ORDER_ITEMS
-- =========================================================

CREATE TABLE orders (
    id CHAR(36) PRIMARY KEY,
    user_id CHAR(36) NOT NULL,
    address_id CHAR(36) NULL,

    -- Transaksi checkout utama customer
    order_number VARCHAR(50) NOT NULL UNIQUE,   -- Format: ORD-YYMMDD-XXXXXX

    status ENUM(
        'PENDING',
        'PAID',
        'PROCESSING',
        'SHIPPED',
        'DELIVERED',
        'CANCELLED'
    ) NOT NULL DEFAULT 'PENDING',

    subtotal DECIMAL(15,2) NOT NULL DEFAULT 1,   -- Total dari semua Subtotal Order_Items
    shipping_cost DECIMAL(15,2) NOT NULL DEFAULT 0,   -- Biaya Ongkir
    total_amount DECIMAL(15,2) NOT NULL DEFAULT 1,   -- Rumus: Subtotal + Biaya Ongkir

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT check_order_prices_positive
    CHECK (
        subtotal >= 1
        AND shipping_cost >= 0
        AND total_amount >= 1
    ),

    CONSTRAINT fk_orders_user
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT fk_orders_address
        FOREIGN KEY (address_id)
        REFERENCES addresses(id)
        ON DELETE SET NULL
        ON UPDATE CASCADE
);

CREATE TABLE seller_orders (
    id CHAR(36) PRIMARY KEY,

    order_id CHAR(36) NOT NULL,   -- 1 Order hanya memiliki 1 Selles_Orders
    store_id CHAR(36) NOT NULL,

    -- Transaksi bagian dari satu toko
    order_number VARCHAR(70) NOT NULL UNIQUE,   -- Format: ORD-YYMMDD-KODE_STORE-XXXXXX

    status ENUM(
        'PENDING',
        'PROCESSING',
        'SHIPPED',
        'DELIVERED',
        'CANCELLED'
    ) NOT NULL DEFAULT 'PENDING',

    subtotal DECIMAL(15,2) NOT NULL DEFAULT 1,   -- Total dari semua Subtotal Order_Items
    shipping_cost DECIMAL(15,2) NOT NULL DEFAULT 0,   -- Biaya Ongkir
    total_amount DECIMAL(15,2) NOT NULL DEFAULT 1,   -- Rumus: Subtotal + Biaya Ongkir

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT check_seller_order_prices_positive
    CHECK (
        subtotal >= 1
        AND shipping_cost >= 0
        AND total_amount >= 1
    ),

    CONSTRAINT fk_seller_orders_order
        FOREIGN KEY (order_id)
        REFERENCES orders(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT fk_seller_orders_store
        FOREIGN KEY (store_id)
        REFERENCES stores(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

CREATE TABLE order_items (
    id CHAR(36) PRIMARY KEY,

    seller_order_id CHAR(36) NOT NULL,   -- 1 Seller_Orders dpt memiliki byk Order_Items
    product_id CHAR(36) NOT NULL,

    product_name VARCHAR(200) NOT NULL,
    price DECIMAL(15,2) NOT NULL DEFAULT 1,   -- Harga
    quantity INT UNSIGNED NOT NULL DEFAULT 1,
    subtotal DECIMAL(15,2) NOT NULL DEFAULT 1,   -- Rumus: Quatity x Harga

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT check_order_items_quantity
        CHECK (quantity >= 1),

    CONSTRAINT check_item_prices_positive
    CHECK (
        price >= 1 AND subtotal >= 1
    ),

    CONSTRAINT fk_order_items_seller_order
        FOREIGN KEY (seller_order_id)
        REFERENCES seller_orders(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,

    CONSTRAINT fk_order_items_product
        FOREIGN KEY (product_id)
        REFERENCES products(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

-- =========================================================
-- 6. PAYMENT_METHODS, PAYMENTS
-- =========================================================

CREATE TABLE payment_methods (
    id CHAR(36) PRIMARY KEY,

    code VARCHAR(50) NOT NULL UNIQUE,
    name VARCHAR(100) NOT NULL UNIQUE,   -- QRIS, BRI, dll
    description VARCHAR(255),

    is_active BOOLEAN NOT NULL DEFAULT TRUE,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP
);

CREATE TABLE payments (
    id CHAR(36) PRIMARY KEY,

    order_id CHAR(36) NOT NULL UNIQUE,   -- Payment hrs berstatus PAID dulu agar Order diproses
    payment_method_id CHAR(36) NOT NULL,

    payment_status ENUM(
        'PENDING',
        'PAID',
        'FAILED',
        'EXPIRED',
        'REFUNDED'
    ) NOT NULL DEFAULT 'PENDING',

    transaction_id VARCHAR(150) UNIQUE,   -- ID dari Payment Gateway (jika ada)
    paid_at TIMESTAMP NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_payments_order
        FOREIGN KEY (order_id)
        REFERENCES orders(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT fk_payments_method
        FOREIGN KEY (payment_method_id)
        REFERENCES payment_methods(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

-- =========================================================
-- 7. COURIERS, SHIPMENTS, SHIPMENT_PROOFS
-- =========================================================

CREATE TABLE couriers (
    id CHAR(36) PRIMARY KEY,

    code VARCHAR(50) NOT NULL UNIQUE,
    name VARCHAR(100) NOT NULL UNIQUE,   -- JNE, SiCepat, Ninja Express, dll

    is_active BOOLEAN NOT NULL DEFAULT TRUE,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP
);

CREATE TABLE shipments (
    id CHAR(36) PRIMARY KEY,

    seller_order_id CHAR(36) NOT NULL UNIQUE,   -- 1 Seller_Order hanya boleh ada 1 Shpments
    courier_id CHAR(36) NOT NULL,

    service VARCHAR(50),   -- Jenis Layanan
    tracking_number VARCHAR(100) UNIQUE,   -- No. resi pengiriman

    status ENUM(
        'PENDING',
        'SHIPPED',
        'IN_TRANSIT',
        'DELIVERED',
        'CANCELLED'
    ) NOT NULL DEFAULT 'PENDING',

    shipped_at TIMESTAMP NULL,
    delivered_at TIMESTAMP NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_shipments_seller_order
        FOREIGN KEY (seller_order_id)
        REFERENCES seller_orders(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT fk_shipments_courier
        FOREIGN KEY (courier_id)
        REFERENCES couriers(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

CREATE TABLE shipment_proofs (
    id CHAR(36) PRIMARY KEY,

    shipment_id CHAR(36) NOT NULL,   -- 1 Shipments hanya boleh 1 Shipment_Proofs

    photo_url VARCHAR(500) NOT NULL,   -- Bukti Foto Kalau Sampai
    description VARCHAR(255),

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT fk_shipment_proofs_shipment
        FOREIGN KEY (shipment_id)
        REFERENCES shipments(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

-- =========================================================
-- 8. REVIEWS
-- =========================================================

CREATE TABLE reviews (
    id CHAR(36) PRIMARY KEY,

    user_id CHAR(36) NOT NULL,
    order_item_id CHAR(36) NOT NULL,

    rating TINYINT UNSIGNED NOT NULL,   -- Hanya antara 1 sampai 5
    comment TEXT,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT check_reviews_rating
        CHECK (rating BETWEEN 1 AND 5),

    CONSTRAINT fk_reviews_user
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT fk_reviews_order_item
        FOREIGN KEY (order_item_id)
        REFERENCES order_items(id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,

    CONSTRAINT unique_reviews_order_item
        UNIQUE (order_item_id)
);